<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.hall.dao.THallJidongcheMapper">

    <sql id="BaseColumnList" >
        pk_jidongche_id,
        dept_name,
        withdraw_type,
        applicant,
        business_type,
        number_type,
        number_plate,
        lack,
        handle_people,
        withdraw_time,
        idcard,
        association_number,
        ordinal,
        file_num,
        identify_code,
        other_lack,
        car_business,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.hall.entity.THallJidongche" parameterType="com.hjy.hall.entity.THallJidongche">
        select * from t_hall_jidongche where pk_jidongche_id = #{pkJidongcheId,jdbcType=VARCHAR}
    </select>
    <!--通过流水号查询单个-->
    <select id="selectByAssociationNumber" resultType="com.hjy.hall.entity.THallJidongche" parameterType="java.lang.String">
        select * from t_hall_jidongche where ASSOCIATION_NUMBER = #{param,jdbcType=VARCHAR}
    </select>
    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.hjy.hall.entity.THallJidongche">
        insert into t_hall_jidongche
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkJidongcheId != null and pkJidongcheId != ''">
                pk_jidongche_id,
            </if>
            <if test="deptName != null and deptName != ''">
                dept_name,
            </if>
            <if test="withdrawType != null and withdrawType != ''">
                withdraw_type,
            </if>
            <if test="applicant != null and applicant != ''">
                applicant,
            </if>
            <if test="businessType != null and businessType != ''">
                business_type,
            </if>
            <if test="numberType != null and numberType != ''">
                number_type,
            </if>
            <if test="numberPlate != null and numberPlate != ''">
                number_plate,
            </if>
            <if test="lack != null and lack != ''">
                lack,
            </if>
            <if test="handlePeople != null and handlePeople != ''">
                handle_people,
            </if>
            <if test="withdrawTime != null">
                withdraw_time,
            </if>
            <if test="idcard != null and idcard != ''">
                idcard,
            </if>
            <if test="associationNumber != null and associationNumber != ''">
                association_number,
            </if>
            <if test="ordinal != null and ordinal != ''">
                ordinal,
            </if>
            <if test="fileNum != null and fileNum != ''">
                file_num,
            </if>
            <if test="identifyCode != null and identifyCode != ''">
                identify_code,
            </if>
            <if test="otherLack != null and otherLack != ''">
                other_lack,
            </if>
            <if test="carBusiness != null and carBusiness != ''">
                car_business,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pkJidongcheId != null and pkJidongcheId != ''">
                #{pkJidongcheId,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null and deptName != ''">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="withdrawType != null and withdrawType != ''">
                #{withdrawType,jdbcType=VARCHAR},
            </if>
            <if test="applicant != null and applicant != ''">
                #{applicant,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null and businessType != ''">
                #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="numberType != null and numberType != ''">
                #{numberType,jdbcType=VARCHAR},
            </if>
            <if test="numberPlate != null and numberPlate != ''">
                #{numberPlate,jdbcType=VARCHAR},
            </if>
            <if test="lack != null and lack != ''">
                #{lack,jdbcType=VARCHAR},
            </if>
            <if test="handlePeople != null and handlePeople != ''">
                #{handlePeople,jdbcType=VARCHAR},
            </if>
            <if test="withdrawTime != null">
                #{withdrawTime,jdbcType=DATE},
            </if>
            <if test="idcard != null and idcard != ''">
                #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="associationNumber != null and associationNumber != ''">
                #{associationNumber,jdbcType=VARCHAR},
            </if>
            <if test="ordinal != null and ordinal != ''">
                #{ordinal,jdbcType=VARCHAR},
            </if>
            <if test="fileNum != null and fileNum != ''">
                #{fileNum,jdbcType=VARCHAR},
            </if>
            <if test="identifyCode != null and identifyCode != ''">
                #{identifyCode,jdbcType=VARCHAR},
            </if>
            <if test="otherLack != null and otherLack != ''">
                #{otherLack,jdbcType=VARCHAR},
            </if>
            <if test="carBusiness != null and carBusiness != ''">
                #{carBusiness,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.hall.entity.THallJidongche">
        update t_hall_jidongche
        <set>
            <if test="deptName != null and deptName != ''">
                dept_name = #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="withdrawType != null and withdrawType != ''">
                withdraw_type = #{withdrawType,jdbcType=VARCHAR},
            </if>
            <if test="applicant != null and applicant != ''">
                applicant = #{applicant,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null and businessType != ''">
                business_type = #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="numberType != null and numberType != ''">
                number_type = #{numberType,jdbcType=VARCHAR},
            </if>
            <if test="numberPlate != null and numberPlate != ''">
                number_plate = #{numberPlate,jdbcType=VARCHAR},
            </if>
            <if test="lack != null and lack != ''">
                lack = #{lack,jdbcType=VARCHAR},
            </if>
            <if test="handlePeople != null and handlePeople != ''">
                handle_people = #{handlePeople,jdbcType=VARCHAR},
            </if>
            <if test="withdrawTime != null">
                withdraw_time = #{withdrawTime,jdbcType=DATE},
            </if>
            <if test="idcard != null and idcard != ''">
                idcard = #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="associationNumber != null and associationNumber != ''">
                association_number = #{associationNumber,jdbcType=VARCHAR},
            </if>
            <if test="ordinal != null and ordinal != ''">
                ordinal = #{ordinal,jdbcType=VARCHAR},
            </if>
            <if test="fileNum != null and fileNum != ''">
                file_num = #{fileNum,jdbcType=VARCHAR},
            </if>
            <if test="identifyCode != null and identifyCode != ''">
                identify_code = #{identifyCode,jdbcType=VARCHAR},
            </if>
            <if test="otherLack != null and otherLack != ''">
                other_lack = #{otherLack,jdbcType=VARCHAR},
            </if>
            <if test="carBusiness != null and carBusiness != ''">
                car_business = #{carBusiness,jdbcType=VARCHAR}
            </if>
        </set>
        where pk_jidongche_id = #{pkJidongcheId,jdbcType=VARCHAR}
    </update>
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.hall.entity.THallJidongche">
        delete from t_hall_jidongche where pk_jidongche_id = #{pkJidongcheId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectSize" resultType="java.lang.Integer">
        select count(*) from t_hall_jidongche
        where 1 = 1
        <if test="deptName != null and deptName != ''">
            and dept_name = #{deptName,jdbcType=VARCHAR}
        </if>
        <if test="ordinal != null and ordinal != ''">
            and ordinal = #{ordinal,jdbcType=VARCHAR}
        </if>
        <if test="applicant != null and applicant != ''">
            and applicant like '%${applicant}%'
        </if>
        <if test="numberPlate != null and numberPlate != ''">
            and number_plate like '%${numberPlate}%'
        </if>
        <if test="numberType != null and numberType != ''">
            and number_Type = #{numberType,jdbcType=VARCHAR}
        </if>
        <if test="businessType != null and businessType != ''">
            and business_Type = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="handlePeople != null and handlePeople != ''">
            and handle_People like '%${handlePeople}%'
        </if>
        <if test="withdrawType != null and withdrawType != ''">
            and withdraw_Type = #{withdrawType,jdbcType=VARCHAR}
        </if>
        <if test="idcard != null and idcard != ''">
            and idcard like '%${idcard}%'
        </if>
        <if test="associationNumber != null and associationNumber != ''">
            and ASSOCIATION_NUMBER like '%${associationNumber}%'
        </if>
        <if test="startTime != null">
            and WITHDRAW_TIME &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and WITHDRAW_TIME &lt;= #{endTime}
        </if>
    </select>
    <select id="selectAll" resultType="com.hjy.hall.entity.THallJidongche">
        select t.*
        from
        (
        select rownum rn, u.*
        from t_hall_jidongche u
        where rownum &lt;= #{endRow,jdbcType=INTEGER}
        <if test="deptName != null and deptName != ''">
            and dept_name = #{deptName,jdbcType=VARCHAR}
        </if>
        <if test="ordinal != null and ordinal != ''">
            and ordinal = #{ordinal,jdbcType=VARCHAR}
        </if>
        <if test="applicant != null and applicant != ''">
            and applicant like '%${applicant}%'
        </if>
        <if test="numberPlate != null and numberPlate != ''">
            and number_plate like '%${numberPlate}%'
        </if>
        <if test="numberType != null and numberType != ''">
            and number_Type = #{numberType,jdbcType=VARCHAR}
        </if>
        <if test="businessType != null and businessType != ''">
            and business_Type = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="handlePeople != null and handlePeople != ''">
            and handle_People like '%${handlePeople}%'
        </if>
        <if test="withdrawType != null and withdrawType != ''">
            and withdraw_Type = #{withdrawType,jdbcType=VARCHAR}
        </if>
        <if test="idcard != null and idcard != ''">
            and idcard like '%${idcard}%'
        </if>
        <if test="associationNumber != null and associationNumber != ''">
            and ASSOCIATION_NUMBER like '%${associationNumber}%'
        </if>
        <if test="startTime != null">
            and WITHDRAW_TIME &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and WITHDRAW_TIME &lt;= #{endTime}
        </if>
        ) t
        where t.rn &gt;= #{startRow,jdbcType=INTEGER}
    </select>
    <select id="selectSizePage" resultType="java.lang.Integer">
        select count(*) from t_hall_jidongche
        where
        TO_CHAR(WITHDRAW_TIME,'YYYY-MM-DD')=TO_CHAR(SYSDATE,'YYYY-MM-DD')
    </select>
    <select id="selectAllPage" resultType="com.hjy.hall.entity.THallJidongche">
        select t.*
        from
        (
        select rownum rn, u.*
        from t_hall_jidongche u
        where rownum &lt;= #{endRow,jdbcType=INTEGER}
        and TO_CHAR(WITHDRAW_TIME,'YYYY-MM-DD')=TO_CHAR(SYSDATE,'YYYY-MM-DD')
        ) t
        where t.rn &gt;= #{startRow,jdbcType=INTEGER}
    </select>

</mapper>