<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.tbk.dao.TbkVehFlowMapper">

    <sql id="BaseColumnList" >
        lsh,xh,ywlx,ywyy,syr,hpzl,hphm,clpp1,clxh,cllx,glbm,clsbdh
    </sql>
    <!--No problem 查询所有行数据-->
    <select id="selectByLsh" resultType="com.hjy.tbk.entity.TbkVehFlow">
        select lsh,xh,ywlx,ywyy,syr,hpzl,hphm,clpp1,clxh,cllx,glbm,clsbdh
        from veh_flow where lsh = #{lsh,jdbcType=VARCHAR}
    </select>
</mapper>